@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.booking-inquiry {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 24px;
    background-color: #f9e4f7;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #00050b;
    font-family: 'Bebas Neue', sans-serif;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #242323;
    font-family: 'Playfair Display', serif;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

/* Input and Textarea styling */
.booking-inquiry input[type="text"], 
.booking-inquiry input[type="number"], 
.booking-inquiry input[type="tel"], 
.booking-inquiry input[type="email"], 
.booking-inquiry input[type="date"], 
.booking-inquiry input[type="time"], 
.booking-inquiry select, 
.booking-inquiry textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    font-family: 'Playfair Display', serif;
    transition: border-color 0.3s ease;
}

.booking-inquiry input:focus, 
.booking-inquiry select:focus, 
.booking-inquiry textarea:focus {
    outline: none;
    border-color: #00050b;
}

/* Textarea specific styling */
textarea {
    height: 150px;
    resize: vertical;
    font-size: 1rem;
}

/* Submit button styling */
button[type="submit"] {
    background-color: #ffc2f9;
    color: #0e0101;
    padding: 12px 20px;
    border: black solid 1px;
    box-shadow: #504f50;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #00050b;
    color: #fff;
}

/* Response time text */
.response-time {
    text-align: center;
    color: black;
    font-size: 1rem;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

/* Required field asterisk */
.required {
    color: red;
    font-size: 1.2em;
    vertical-align: top;
    margin-left: 2px;
}

/* Error message styling */
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

/* Mobile styling */
@media only screen and (max-width: 600px) {
    .booking-inquiry {
        max-width: 90%;
        padding: 16px;
    }

    button[type="submit"] {
        width: 100%;
        padding: 12px;
    }
}
