.contactme-container {
    max-width: 480px; /* Set maximum width for the content */
    margin: 0 auto; /* Center align content */
    padding: 20px; /* Add some padding */
}

.header-text {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  /*Put all mobile styling here*/
@media only screen and (max-width: 600px){

}