input[type="file"] {
  margin-bottom: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  width: 150%;
  max-width: 225px; 
  height: auto;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: 150px;          
  object-fit: contain;    
  border-radius: 8px;
  margin-bottom: 10px;
}


.delete-btn {
  padding: 8px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}

.crop-container {
  width: 100%;
  max-width: 300px; 
  height: 150px;    
  position: relative; 
  background: #000000;  
  margin-bottom: 10px;
}

.edit-btn {
  color: black;
  background-color: #ffc5fc;
  margin: 0.5vh;
  width: 100px;
  border: 1px solid black;
  padding: 10px; 
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #eae1e3; 
}

.upload-button {
  background-color: #ffc5fc;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #eae1e3;
}

/*Put all mobile styling here*/
@media only screen and (max-width: 600px){
  .Gallery-Manager{
    display: flex;
    flex-direction: column;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    padding-right: 4.5em;
    gap: 10px;
  }

  h3 {
    padding-bottom: 150px;
  }
  .gallery {
    margin-top: 10px;
  }

  
}
