.gallery-container {
    text-align: center;
    margin: 20px;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Gallery-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Fixed width */
    height: 300px; /* Fixed height */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures that the image doesn't overflow the card */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2), -10px -10px 20px rgba(256,256,256,0.1);  /* Adds a subtle shadow effect */
  }
  
  .Gallery-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the card while maintaining aspect ratio */
    border-radius: 5px; /* Keeps the image corners rounded */
  }
  
  