.home-container {
    max-width: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.header-text {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(60, 38, 38);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
.picture-container {
    display: flex;
    justify-content: center; /* Aligns children (images) to the left */
    width: 50%; /* Take the full width of its parent */
    margin-top: .5in; /* Adds space above the picture container */
}
  
.model-image {
    width: 40%; /* Each image takes up half of the container width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures the image covers its area without losing aspect ratio */
    margin-top: 0.4cm; /* Adds space above the images */
}

.card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.some-content{
    width: 60vw;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5%;
}

.some-content > p{
    text-align: left;
    line-height: 1.6em;
}

.info-boxes-container{
    width: 75%;
    display: flex;
    justify-content: center;
}

.info-box{
    width: 25%;
    border: 1px solid black;
    margin: 2.5%;
    padding: 10px;
}


/*Put all mobile styling here*/
@media only screen and (max-width: 600px){
    .picture-container{
        margin-top: 5px;
        width: 100vw;
        justify-content: center;
        gap: 0;

    }

    .home-container{
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 10%;
    }

    .model-image{
        width: 100%;
        margin-top: 0.5em;
    }

    .some-content{
        height: auto;
        width: 80vw;
        border: 0.5px solid black;
        border-radius: 1%;
        padding: 10px;
        margin-top: 1px;
        background-color: #FDF7F8;
        box-shadow: 10px 10px 20px rgba(0,0,0,0.2), 
        -10px -10px 20px rgba(256,256,256,0.1);
    }

    .some-content > h1{
        font-size: 3vh;
        font-family: 'Bebas Neue', sans-serif; 

    }

    .some-content > p{
        margin: 20px auto;
        padding: 5px;
        text-align: left;
    }

    .model-image{
        width: 50%;
    }

    .info-boxes-container{
        flex-direction: column;
        align-items: center;
        margin-top: 1.5%;
    }

    .info-box{
        width: 80vw;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        padding: 10px;
        background-color: #FDF7F8;
    }

}