/* Import Cormorant Garamond font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

/* LogIn container styling */
.LogIn-container {
    width: 75%;
    margin: auto;
    margin-top: 2.5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(15, 9, 9);
}

/* Title styling */
.LogIn-title {
    font-family: 'Cormorant Garamond', serif; /* Apply Cormorant Garamond font */
    font-size: 2.5em; /* Adjust size as desired */
    color: #333; /* Dark color for the title text */
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 90%;
}

/* Form container styling */
.LogIn-form {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.LogIn-form input {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 50%;
}

.LogIn-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ec98e8;
    color: rgb(12, 11, 11);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin-top: 3vh;
    font-family: 'Playfair Display', sans-serif;
}

.forgot-password {
    margin-top: 10px;
}

.remember-me {
    margin-top: 10px;
}

/* Buttons container */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Mobile styling */
@media only screen and (max-width: 600px) {
    .LogIn-container {
        width: 95%;
    }
    .LogIn-title, .LogIn-form {
        width: 90%;
    }
    .LogIn-form button {
        width: 50%;
    }
    .LogIn-form input {
        width: 80%;
    }
}
