/* just in case we dont want to do inline styling
.title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-family: 'Great Vibes';
  letter-spacing: 2px; /* Make sure to include units for letter-spacing 
  font-size: 34px;
}
*/
