.Mobile_Login_Button {
  /* Margin around the button */
  margin: .5vh;

  /* Background color of the button */
  background-color: #FDF7F8;

  /* Text color of the button */
  color: rgb(0, 0, 0);

  width: 80%;

}


.Mobile_Register_Button {
  /* Margin around the button */
  margin: .5vh;

  /* Background color of the button */
  background-color: #FDF7F8;

  /* Text color of the button */
  color: black;

  width: 80%;
}


.Social_Media_Icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;

}


#TikTokIcon, #InstagramIcon{
    width: 30px;
    height: auto;
    padding-bottom: 10px;
}

.Nav_Bar_Title {
  /* Align items in a column */
  flex-direction: column;

  /* Align items in the center horizontally */
  align-items: center;

  /* Push content to the center by setting left and right margins to auto */
  margin-right: auto;

  /* Specify the font family */
   font-family: 'Bebas Neue', sans-serif; 
  
   /* 
   Another Font option, not sure which ones is better
   font-family: 'Daxline', sans-serif;
   */
   margin-left: 40px;

  /* Set the font size to 30 pixels */
  font-size: 60px;

  /* Make the font slightly thicker */
  font-weight: 750;

  text-decoration: none;
  color: black;
  padding-left: px;
  line-height: 0.1;
  text-shadow: 1px 1px 8px rgb(253, 239, 255);

}

.Nav_Bar_Title > text{
  font-size: 0.35em;
  margin-left: 40px;

}



/*Put all mobile styling here*/
@media only screen and (max-width: 600px){
    .Social_Media_Icons{
        display: none;
    }

    .Nav_Bar_Title{

        font-size: 40px;
        line-height: 0.5;
        padding-bottom: 10px;
        padding-right: 15%;
        margin-left: 100px;

    }
    

}
  