/* ProfileEdit.css */

/* Additional styles for form and inputs */
.profile-edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px; /* Limit the width of the form */
    margin: 0 auto; /* Center the form */
    
}

.form-group {
    margin-bottom: 20px; /* Space between form groups */
}

.form-input {
    width: 100%; /* Full width for inputs */
    padding: 10px; /* Padding for comfort */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1rem; /* Font size for inputs */
    
}

.form-input:focus {
    border-color: #007bff; /* Highlight border on focus */
    outline: none; /* Remove default outline */
}

/* Button styles to match the specified color scheme and font */
.edit-profile-button {
    width: 100%; /* Full width */
    padding: 6px 12px; /* Padding for spacing inside the button */
    font-size: 15px; /* Responsive font size */
    font-weight: 400; /* Normal font weight */
    font-family: 'Roboto', sans-serif; /* Change to a modern font family */
    line-height: 1.5; /* Adjust line height for better spacing */
    color: #333; /* Darker text color for modern look */
    background-color: #FDF7F8; /* Set background color */
    border: 2px solid #E8E8E8; /* Border styling */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
    margin: 0 4px; /* Margin for spacing between buttons */
}

/* Hover effect */
.edit-profile-button:hover {
    background-color: #ec98e8; /* Change background color on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adding a shadow effect */
}

/* Focus effect */
.edit-profile-button:focus {
    background-color: #E8E8E8; /* Light gray background color on focus */
    color: #111; /* Darker text color on focus */
}

/* Active effect (when button is clicked) */
.edit-profile-button:active {
    background-color: #d81b60; /* Change color when active */
    box-shadow: none; /* Remove shadow on active */
}

/* Disabled state */
.edit-profile-button:disabled {
    background-color: #f8bbd0; /* Light pink background */
    color: #f48fb1; /* Lighter pink text color */
    cursor: not-allowed; /* Not-allowed cursor */
    box-shadow: none; /* Remove shadow */
}
