/* Register.css */
.Register-container {
    margin: auto; /* Center align content */
    margin-top: 2.5%;
    padding: 20px; /* Add some padding */
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.Register-title {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 90%; /* Set width to 90% of viewport width */
}
.Register-form {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 90%; /* Set width to 90% of viewport width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Register-form input {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 80%; /* Set width to 90% of viewport width */
}
.Register-form button {
    width: 100%; /* Make button fill its container */
    padding: 10px; /* Add padding */
    background-color: #ec98e8; /* Set background color */
    color: 'primary'; /* Set text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor on hover */
    width: 10vw;
}
.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5%;
}

/*Put all mobile styling here*/
@media only screen and (max-width: 600px){
    .Register-container{
        width: 95%;
    }

    .Register-form button{
        width:auto
    }
   

}