.formContainer {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    gap: 15px; /* Space between items */
}
.button {
    display: block; /* Ensure buttons are stacked */
    width: 100%; /* Make button fill its container */
    padding: 10px; /* Add padding */
    background-color: #ec98e8; /* Set background color */
    color: rgb(12, 11, 11); /* Set text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor on hover */
    width: 30%;
    margin-top: 3vh;
    font-family: 'Playfair Display', sans-serif;
}
input{
    display: block; /* Ensure buttons are stacked */
    width: 100%; /* Make button fill its container */
    padding: 10px; /* Add padding */
    background-color: #eaeaea; /* Set background color */
    color: rgb(12, 11, 11); /* Set text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor on hover */
    width: 30%;
    margin-top: 3vh;
    font-family: 'Playfair Display', sans-serif;


}