/* Services.css */

/* Header Styling */
.header-text {
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding: 20px 15px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  color: #333;
  width: 100%;
  font-weight: bold;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(256, 256, 256, 0.1);
  border: 1px solid #ddd;
}

/* Container for Service Boxes */
.services-container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensures even spacing between items */
  gap: 20px;
  align-items: flex-start; /* Align the boxes to the top */
}

/* Service Box Styling */
.service-box {
  width: 30%; /* Ensure boxes take up 30% of container */
  min-width: 300px;
  max-width: 400px;
  min-height: 400px; /* Ensure boxes have a minimum height */
  height: 500px; /* Allow height to adjust based on content */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(256, 256, 256, 0.1);
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
}


/* Ensure Image Size and Consistency */
.service-box img {
  width: 100px; /* Fixed image size */
  margin-bottom: 20px;
}

/* Service Box Heading */
.service-box h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-family: 'Italiana', serif;
  font-weight: bold;
}

/* Service Box Paragraph Styling */
.service-box p {
  font-size: 18px;
  margin-bottom: 30px; 
  font-family: 'Italiana', serif;
  flex-grow: 1; /* Ensure the text area expands to take available space */
  display: flex;
  align-items: flex-start;
}

/* Button Styling */
.button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Italiana', serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  transition: background-color 0.3s ease;
  margin-top: auto;
  align-self: center;
}

.button:hover {
  background-color: #de85cc;
}

/* Mobile Styling */
@media only screen and (max-width: 600px) {
  .services-container {
    flex-direction: column; /* Stack service boxes vertically on mobile */
    max-width: 100%; /* Full width for mobile */
  }

  .service-box {
    width: 100%; /* Full width on mobile */
    margin-bottom: 20px; /* Add space between stacked boxes */
  }
}
