.services-container {
    max-width: 75%; /* Set maximum width for the content */
    margin:auto; /* Center align content */
    margin-top: 2.5%;
    padding: 20px; /* Add some padding */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    line-height: 1.6;
} 

.header-text {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  /*Put all mobile styling here*/
@media only screen and (max-width: 600px){
  .services-container {
    max-width: 480px; /* Set maximum width for the content */
    margin: 0 auto; /* Center align content */
    padding: 20px; /* Add some padding */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

}