/* Services.css */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

/* General Styling for Headers */
.header-text {
  text-align: center;
  font-size: 3em;
  margin: 0;
  padding: 15px;
  font-family: 'Cormorant Garamond', sans-serif;
  color: #333;
  font-weight: bold;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.1);
  border: 1px solid #ddd;
}

/* Container for Service Boxes */
.services-container {
  max-width: 75%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

/* Individual Service Box Styling */
.service-box {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  min-height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
}

.service-box:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px); /* Adds a subtle lift effect */
}

/* Image Styling in Service Box */
.service-box img {
  width: 100px;
  margin-bottom: 20px;
}

/* Title Styling */
.service-box h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}

/* Paragraph Styling */
.service-box p {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: 'Cormorant Garamond', serif;
  flex-grow: 1;
}

/* Button Styling */
.button {
  display: inline-block;
  padding: 12px 30px;
  background-color: #545252;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3), 0px 6px 12px rgba(0, 0, 0, 0.1);
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: auto;
  align-self: center;
}

.button:hover {
  background-color: #de85cc;
}

.button:focus {
  background-color: #e8e8e8;
  color: #111;
  outline: none;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
}

.button:active {
  background-color: #e8e8e8;
  color: #111;
  transform: translateY(4px);
}

/* Responsive Styling for Mobile */
@media only screen and (max-width: 600px) {
  .services-container {
    flex-direction: column;
    max-width: 100%;
  }

  .service-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .header-text {
    font-size: 2.5em;
    padding: 10px;
  }
}
